@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Nunito:wght@200&display=swap');


*{box-sizing: border-box;}
/* div{ border: 1px solid black} */


/* main{
    width: 1140px;
    margin: auto;
} */

.header{
    height: 130px;

    position:sticky;
    top:0;
    background-color: white;
    /* border-bottom: 2px solid black; */
}


.header>div:nth-child(1){
    height: 70px;
}
.header>div:nth-child(2){
    height: 60px;
    /* width: 900px; */

    display: flex;
    justify-content:center;
    align-items: center;
}



.banner{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
}

.banner>a{
    
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.banner a:hover{
    cursor: pointer;
}


.nav{
    width: 100%;
    height:60px;
}

.nav>ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    justify-content: space-evenly;
    align-items: center;

    height: 100%;
}

.nav>li{
    flex: 0 1 150px;
}

.nav a{
    display: block;
    height: 100%;

    text-align: center;
    padding: 11px 0;

    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(110, 110, 110);


}

.nav a:hover{
    border-bottom: 3px solid black;
    color:rgb(0, 0, 0);
}

.mainbanner{
    height: 210px;
}

.banner_right{

    display: flex;
    position: fixed;
    top: 30px;
    right: 30px;
}

.banner_right>.q a{
    font-size: 25px;
    color: black;
    padding: 10px;
    margin-right: 20px;
}
.banner_right>.user a{
    font-size: 25px;
    color: black;
}




.content{
    margin-top: 30px;
}

.cont1{
    height: 200px;
    display: flex;

    justify-content: center;

}

.cont1-1a{
    display: flex;

    height: 200px;
    width: 500px;

    
}
.cont1-1b{
    display: flex;

    height: 200px;
    width: 500px;

}

.cont1-1{
    display: flex;

    flex-basis: 15%;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    font-weight: bold;

}
.cont1-2{
    display: flex;

    flex-basis: 55%;

    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

}
.cont1-3{
    display: flex;

    flex-basis: 35%;

    justify-content: center;
    align-items: center;

}

.cont1-2a{
    height: 60px;

    display: flex;
    align-items: flex-end;

}
.cont1-2b{
    height: 60px;

    font-size: 14px;
    color: rgb(77, 77, 77);
}

#contimg{
    width: 130px;
    height: 130px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cont1-1a:hover>.cont1-2{
    cursor: pointer;
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);


}
.cont1-1a:hover>.cont1-2>.cont1-2a{
    font-weight: bolder;
    text-decoration: underline;
}

.cont1-1b:hover>.cont1-2{
    cursor: pointer;
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);


}
.cont1-1b:hover>.cont1-2>.cont1-2a{
    font-weight: bolder;
    text-decoration: underline;
}


.footer{
    height: 200px;
    background-color: #a3add342;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p{
    color: rgb(109, 109, 109);
    font-size:12px ;

}



.footer > div > *{
    font-size: 14px;
}

.footer a {
    color:black;
    text-decoration: none;            

}

.footer span{
    padding: 0 0px;
}

footer>.footer1{
    font-size: 5px;
}

.footer>.fixed-area a{
    font-size: 30px;
}

.main{
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Nunito', sans-serif;

}
