/* 마이페이지 영역 */
.myPage-content{
    width: 1000px;
    height: 800px;
    margin:  50px auto;

    display: flex;
}
/* 왼쪽 사이드 메뉴 */
.left-side{
    width: 25%;
    border-right: 2px solid #ddd ;

}
.list-group{
    width: 100%;
    padding: 0 20px 0 0;
    /* 상 우 하 좌 */
}

.list-group > li{
    list-style: none;
    height: 50px;
    font-size: 18px;
    
}
.list-group> li > a{
    text-decoration: none;
    color: black;
    height: 100%;
    border-bottom: 2px solid #ddd;

    display: flex;
    
    justify-content: center;
    align-items: center;
}
.list-group> li :hover{
    background-color: #f2f2f2;
}


/* 마이페이지 공통 부분 */
.myPage-main{
    width: 75%;
    padding:  0 50px;
}
.myPage-title{
    margin:  0 0 10px 0;
    font-size: 20px;
}
.myPage-explanation{
    display: block;

    font-size: 14px;
    margin-bottom: 30px;
    letter-spacing: -1px;
}

.myPage-row{
    width: 500px;
    height: 50px;
    margin-top: 20px;

    display: flex;
    align-items: center;
    border-bottom: 2px solid #ddd;
}

.myPage-row > *{
    font-size: 18px;
    font-weight: bold;

}
.myPage-row > label{
    width: 30%;
    color: #455ba8;
}

.myPage-row > span{
    width: 70%;

}
.myPage-row > input{
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font-weight: normal;
}
.myPage-row:focus-within{
    border-bottom: 2px solid #455ba8;
}

form[name=myPage-form]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* 내 정보 */
.info-title{
    color: #455ba8;
    border:  0;
}

.info-address{margin: 0;}

/* 검색 버튼 */
#info-address-btn{
    width: 30%;
    height: 70%;

    font-size: 14px;
    font-weight: normal;

    background-color: white;
    border:  1px solid gray;

    cursor: pointer;
}
/* 수정하기 버튼 */
#info-update-btn{
    width: 100%;
    padding: 10px;
    margin: 50px 0;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #455ba8;
    color: white;
    cursor: pointer;
}


/* 비밀번호 변경 */
.myPage-row > input[type="password"]{
    width: 70%;
}

/* 회원탈퇴 약관 */
#secession-terms{
    width: 500px;
    height: 300px;
    border:  1px solid black;
    font-size: 16px;

    /* 내용이 지정한 사이즈를 초과한 경우에 대한 속성 */
    overflow: auto;/*초과한 방향의 스크롤 자동생성*/
}


/* ***************************************************** */
/* 프로필 */

/* 프로필이미지 영역 */
.profile-image-area{
    width: 150px;
    height: 150px;
    border: 3px solid #ddd;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
/* 프로필 이미지 */
#profile-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* 프로필 버튼 영역 */
.profile-btn-area{
    width: 230px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* 프로필 버틍튼 영역에 모든 자식요소 */
.profile-btn-area > *{
    width: 110px;
    height: 33px;

    padding: 5px 10px;
    border: 1px solid black;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

/* 파일선택버튼 */
#input-image{
    display: none;
}

/* 변경하기 버튼 */
.profile-btn-area > button{
    background-color:  #455ba8;
    color:  white;
    border: 0;
}

/* 프로필 이미지 삭제 버튼 */
#delete-image{
    position: absolute;
    top:0;
    right: 0;

    display: flex;
    width: 20px;
    height: 20px;
    /* text-align: center; */
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    background-color: #ddd;
    cursor: pointer;
}

