<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="memberMapper">
<resultMap type="Member" id="memberResultSet"> 
		
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"></result>
		<result property="memberName" column="MEMBER_NM"/>
		<result property="memberEnrollDate" column="MEMBER_ENROLL_DT"/>
</resultMap>


<result id="login" resultMap="memberResultSet" paramType="Member"> 
	SELECT * FROM MEMBER WHERE MEMBER_ID=#{member.memberId} AND  MEMBER_PWD=#{member.memberPwd}
</result>