/* 일반 구조 선택자*/

/* :first-child 형재 관계 요소 중 첫번째 요소*/
#test1 > p:first-child {
    background-color: red;
    color: white;
}

/* :last_child  형제 관계 요소중 마지막요소*/
#test1 >p:last-child{
    background-color: orange;
}

/* #test1>p 선택자를 통해서 
#test1의 자식들 중에서 p태그만 선택했지만
#test1에 자식 중에는 pre 태그가 포함 되어있다
(선택은 p태그 만, 형제는 p + pre)

#test1의 자식들 중에서 p태그의 형재요소 중
마지막요소 (pre)를 선택하여
해당요소가 :last-child 앞에 작성된 요소(p)
가 맞을 경우 선택
*/

/* :nth-child(수열)
형재 관계 요소중 지정된 수열 번째 요소를 모두 선택
(nth = n번째)

*순서를 따질때 1부터 시작함(인덱스X)

*/

#test1> p:nth-child(2){
    /* #test1의 자식 요소 중에서 2번째 요소를 선택하고 p태그인지 검사 */
    background-color: yellow;
}

#test1>p:nth-child(4){
    /* #test1의 자식 요소 중에서 4번째 요소를 선택하고 p태그인지 검사  */
    background-color: pink;
}

/* 홀수 번째 형재 요소 선택 */
#test1>p:nth-child(2n-1){
    font-size: 20px;
    font-weight: bold;

}

/* 짝수 번째 형재 요소 선택 */
#test1>p:nth-child(2n){
    border: 1px solid black;

}
/* :nth-last-child(수열)
    형재관계 요소중 
    뒤에서 부터 지정된 요소 모두 선택 */
#test1>p:nth-last-child(2){
    color: hotpink;
}
/* ------------------------------------------ */
/* 형태 구조 선택자 */

/* :first-of-type :같이 선택된 요소들 중에서 첫번째 요소 */
#test2>p:first-of-type{
    background-color: orange;
}
/* :last-of-type :같이 선택된 형제들 중 마지막요소 */
#test2>p:last-of-type{
    background-color: skyblue;
    
}

/*:nth-of-type(수영) : 같이 선택된 형재들 중에서 수열 번째 모든 요소*/
#test2>p:nth-of-type(2n-1){
    font-size: 30px;
}

/* :nth-last-of-type(수열) : 같이 선택된 형제들 중에서 뒤애서 수열 번째 모든요소*/
#test2>p:nth-last-of-type(2n){
    background-color: red;
}

/* 부정 선택자 */

/* test3의 자식 요소 중 3의 배수를 제외한 요소 선택 */
#test3>li:not(:nth-of-type(3n)){
    background-color: salmon;
}





