


.div{
    border: 1px solid black;
    height: 100px ;

    box-sizing: border-box;
}


.float-left{
    width: 45px;

    height: 50px;
    background-color: pink;
    /* 요소를 왼쪽으로 흐름을 주어서 왼쪽 정렬 */
    float: left;

    /* 뛰워지면서 한줄을 다 차지하려고 하던
    block 형식의 오른쪽 margin가 사짐
    ->오른쪽에 다른 요소가 붙게 됨 (한줄로 요소가 배치됨) */


}

.float-right{
    width: 50px;
    height: 50px;
    background-color: cornflowerblue;
    float: right;
    
    /* 오른쪽으로 먼저 작성된 요소가 
    차곡차곡 쌓이기 때문에 
    출력되는 순서가 반대로 보인다 */
    
    
}
.clear{
    background-color: red;
    color: white;
    /* 현재 요소부터 겹쳐지는 float 상태를 해제
        *clear의 방향성
            -float는 left/right가 나누어져 있는데 
            지정된 float 흐름과 같은 방향을 해재해야 
            겹침 문제가 해결된다
    */
    /* clear: left; */
    /* clear:  right; */

    /* float: left/right 모두 해제 */
    clear: both;
}
.row-2{
    height: 50%;
    /* width: 100%; 기본값*/

}
.div-1{
    border: 1px solid pink;
    width: 10%;
    height: 100px;

    float: left;
    box-sizing: border-box;
    
}


.div-2{
    width: 100px;
    height: 25px;
    
    border: 1px solid #eee;
    background-color: #eee;

    font-size: 1px;

}

.eee{
    background-color: #eee;
    border: #888 solid 1px;
    border-left: #eee;
    border-right: #eee;
    border-bottom: #eee;
}
.font{
    text-align: center;
}

    

.div-a{
    width: 70px;
    height: 70px;
    
    border: 1px solid purple;
    background-color: purple;

    border-top: 15px;

    margin: auto;
    margin-top:15%;
    margin-left:15%;
    border-radius: 40px; 

    font-size: 25px;
    text-align: center;
    color: white;

}
.text{
    font-size: 25px;
    text-align: center;
    margin-top: 25%;
}
.center{
    position: relative;
    left: 38%;
}

.div-m{
    
    width: 70px;
    height: 70px;
    
    border-top: 15px;
   

    margin: auto;
    margin-top:15%;
    margin-left:15%;
}
.bg-1{background-color: antiquewhite;}
.bg-2{background-color: lightblue;}
.bg-3{background-color: rosybrown;}
.bg-4{background-color: lightpink;}
.bg-5{background-color: lightcoral;}

.search{
    border-radius: 40px;
    position: relative;
    top: 40px;
    left:35%;
}
.center-2{
    position: absolute;

    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}



